
.jumbotron-with-background {
    background-image:"https://imgur.com/zB2JGri"; 
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #a9fbd7, #d7fdec);
}

.texto {
    text-align: justify;
    font-family: 'Trebuchet MS, sans-serif';
}