<link rel='stylesheet' href="contato.component.css">

<div class="container">

      <div class="row">
        <!--Jumbotron-->
        <div class="col-md-6 mb-3 mt-5">
            <div class="container d-flex justify-content-start w-100 h-100 d-flex justify-content-center">
              <div class="jumbotron  d-flex align-content-center flex-wrap  ">
                  <h2 class="display-4 p-3 ">Contate-nos</h2>
                  <img class="w-25 h-25 d-flex justify-content-end "src="https://i.imgur.com/HXWpoNL.png">   
                  <p class="lead"><b> Para saber mais informações sobre nossa comunidade, entre em contato conosco. </b></p>
              </div>
            </div>
        </div>
        <!--Jumbotron-->

        <!--Entre em contato-->
        <div class="col-md-6 mb-5 mt-5">
          <!-- Card -->
          <div class="container d-flex justify-content-end ">
            <div class="card border-success" style="width: 35rem;">
              <div class="card-body background">
                <h5 class="card-title text-success text-center">Entre em contato</h5>
                <!-- formulário-->
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1"><b>Nome</b></label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu nome">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1"><b>Email</b></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seus dados com ninguém.</small>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1"><b>Mensagem</b>:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <!--Botão-->
                  <div class="">
                    <button type="submit" class="btn btn-outline-success" (click)="click()">Enviar</button>
                  </div>
                </form>
                <!--/Formulário-->
              </div>
            </div>
          </div>
        </div>
        <!--/Entre em contato-->

      
      </div>
</div>

        
          
              



<!--
<form class="was-validated">
    <div class="mb-3">
      <label for="validationTextarea">Textarea</label>
      <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>
  
    <div class="custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
      <label class="custom-control-label" for="customControlValidation1">Olha só, esse checkbox personalizado</label>
      <div class="invalid-feedback">Exemplo de texto para feedback inválido</div>
    </div>
  
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked" required>
      <label class="custom-control-label" for="customControlValidation2">Clique neste radio personalizado</label>
    </div>
    <div class="custom-control custom-radio mb-3">
      <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked" required>
      <label class="custom-control-label" for="customControlValidation3">Ou clique neste outro radio personalizado</label>
      <div class="invalid-feedback">Mais exemplo de texto para feedback inválido</div>
    </div>
  
    <div class="form-group">
      <select class="custom-select" required>
        <option value="">Abra este menu select</option>
        <option value="1">Um</option>
        <option value="2">Dois</option>
        <option value="3">Três</option>
      </select>
      <div class="invalid-feedback">Exemplo de feedback invalido para o select</div>
    </div>
  
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="validatedCustomFile" required>
      <label class="custom-file-label" for="validatedCustomFile">Escolher arquivo...</label>
      <div class="invalid-feedback">Exemplo de feedback inválido para input file</div>
    </div>
  </form > */ -->

  