<div class="container w-100">

    <div class="row">
  
      <div class="col-md-4">
        <app-perfil> </app-perfil>
      </div>
  
      <div class="col-md-8">
  
        <h3 class="text-center mb-4 text-monospace" >No que você esta pensando? </h3>
  
        <div class="form-group">
          <label class="text-monospace" for="texto">Texto:</label>
          <textarea class="form-control border-success rounded login-form-1" id="texto" rows="3" placeholder="Digite aqui o seu texto"
            [(ngModel)]='postagem.descricao'></textarea>
        </div>
  
        <div class="row d-flex align-items-end">
  
          <div>
          <div class="col-md-8">
            <div class="form-group m-0">
              <label class="text-monospace" for="tema">Escolha um tema ou <a routerLink='/cadastro-tema'>Cadastre um
                  novo</a></label>
              <select name="tema" id='tema' class="form-control border-success rounded login-form-1" [(ngModel)]='idTema' (change)='findByIdTema()'>
                <option *ngFor='let item of listaTemas' value={{item.id}}>
                  {{item.nome}}
                </option>
              </select>
            </div>
          </div>
        </div>
  
          <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
          </div>
  
        </div>