<!--Card-capa-->
<div class="container-fluid ">  
    
    <div class="parallax">
      <div class="carousel-caption tamSlide ll1 d-none d-md-block">
        
        <div class="container-fluid ">  
          <app-navbar></app-navbar>
          
        </div>
        
      </div>
      
    </div>
    <div class="carousel-caption d-none d-md-block"><h3 class="display-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, natus animi alias illum similique dolorem maiores porro </h3></div>
 </div>
<!--Missão-->
<div class="jumbotron jumbotron-fluid">
<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h3>Visão</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4 d-flex justify-content-center">
      <h3>Missão</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-4 d-flex justify-content-center">
      <h3>Valores</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.
    </div>
  </div>
</div>

</div>
<!--/Missão-->
<!--Membros da Equipe-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <h3>Membros</h3>
      </div>
    </div>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>    
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->    
    <div class="carousel-item active">  
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Matheus</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary d-flex justify-content-center">Linkedin</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Geovanna</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <a class="btn btn-primary d-flex justify-content-center">Linkedin</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-center">Jessica</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <a class="btn btn-primary d-flex justify-content-center">Linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </div>    
      
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Cezar</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-primary d-flex justify-content-center">Linkedin</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Samuel</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-primary d-flex justify-content-center">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
      
    <!--/.Second slide-->
  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

    