.container-fluid{
  padding: 0%;
}
.parallax {
    background-image: url('https://i.imgur.com/I0Lr8rb.jpg');
  
    min-height: 100vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.tamanhoImagem-90{
  height: 90vh;
}


.carousel-caption.ll1{  
    top: 0 !important;
    bottom: auto !important;

}

.cor{
  background-color: #f3f3f3;
}