.container-fluid{
  padding: 0%;
}
.parallax {
    background-image: url('https://i.imgur.com/5t9cjyJ.jpg');
  
    min-height: 100vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.responsive {
  width: 100%;
  height: auto;
}

.configimagens-missao-visao-valores{
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin-right: 10%;
  
}

.jumbotron-config {
  height: 385px;
  width: 900px;
  border-style: outset;
  background-attachment: fixed;
  background-image: linear-gradient(180deg, #aeffd8, /* #b0c6ce*/ #ac8887);
}


.tamanhoImagem-90{
  height: 90vh;
}

.carousel-caption.d-md-block {
  display: block !important;
}
.carousel-caption.ll1{  
    top: 0 !important;
    bottom: auto !important;

}

.conf-foto-matheus {
  width: 350px;
  height: 350px;
}

.foto-config {
  border-radius: 50px;
}

.back-membros {
  background-attachment: fixed;
  background-image: linear-gradient(180deg, #aeffd8, #3a5683  );
}

