
<div class="container-fluid ">

  <div class="parallax">
    <div class="carousel-caption tamSlide ll1 d-none d-md-block">

      <div class="container-fluid ">

      </div>


    </div>

  </div>
  <div class="carousel-caption d-none d-md-block">
    <h3 class="display-4">"A consciência é a principal ferramenta para preservarmos e cuidarmos do meio ambiente."</h3>
    <span class="text-rigth">Marianna Moreno</span>
  </div>

</div>
<!--Missão-->
<div class="jumbotron jumbotron-fluid cor">
  <div class="container mt-0">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h3>Visão</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">        
          Desejamos expandir a nossa rede social a fim de causar um impacto no desmatamento. Dessa forma restaurar por completo as dores causadas por queimadas e desmatamentos ilegais.
               
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-4 d-flex justify-content-center">
        <h3>Missão</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">   
        Estamos aqui para semear conexões com os amantes e protetores das florestas. Queremos criar uma rede social voltada para proteção e preservação além de estimular o reflorestamento das matas.
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-4 d-flex justify-content-center ">
        <h3>Valores</h3>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">   
        Defendemos o ideal de que as florestas merecem ser preservadas e cuidadas. Não deixaremos que as próximas gerações, tanto seres humanos quanto animais, sofram com por causa das nossas ações atuais. Os mesmos possuem o direito à vida e por isso precisamos deixar um planeta em condições para eles.
      </div>
    </div>
  </div>


<!--Membros da Equipe-->

<div class="jumbotron jumbotron-fluid mb-0 back-membros">
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4  borda d-flex justify-content-center">
      <h3 class="fonte">Membros</h3>

    </div>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--First slide-->    
  <div class="carousel-item active">  
    <div class="row">
      <div class="col-md-4 " >
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/Sgj5YQt.jpg" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Matheus Passos</h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center"href="https://www.linkedin.com/in/matheus-passos-gomes/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/RP4CoPY.png"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Geovanna Renata </h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-outline-primary d-flex justify-content-center" href="https://www.linkedin.com/in/geovanna-renata/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/V7Axj7M.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Jessica Pinheiro</h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-outline-primary d-flex justify-content-center" href="https://www.linkedin.com/in/jessicapinheirogomes/" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
    
  <!--/.First slide-->

  <!--Second slide-->
  <div class="carousel-item">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top"
          src="https://i.imgur.com/CltRql6.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Cezar Augusto</h4>
          <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center"href="https://www.linkedin.com/in/cezar-ags/" target="_blank">Linkedin</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top"
          src="https://i.imgur.com/tqYFfrY.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Samuel Firmino</h4>
          <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center" href="https://www.linkedin.com/in/samuel-firmino/" target="_blank">Linkedin</a>
        </div>
      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->
    </div>
  </div>
</div>
</div>
</div>
<div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="cold-md-12">
        <button type="button" class="btn btn-primary" href="#multi-item-example" data-slide="prev">></button>
      </div>
    </div>
  </div>    
</div>
    