<!--Card-capa-->
<div class="container-fluid ">  
  <div class="parallax">
    <div class="carousel-caption tamSlide ll1 d-none d-md-block">
      <div class="container-fluid ">           
          
      </div>
    </div>
    
  </div>
  <div class="carousel-caption d-none d-md-block text-center"><h3 class="display-4"> <b> Junte-se a nós!<br> Reconstruir nossos ecossistemas terrestres e equilibrar o funcionamento do mundo.  </b> </h3></div>
</div>

<!-- Sobre a iniciativa-->
<div class="jumbotron jumbotron-fluid w-100 back-membros">
  <div class="container">
    <div class="row">
      <h1 class="display-4"><b> Plante uma árvore </b></h1>
      <div class="col-md-10 d-flex justify-content-start">
        <p class="lead text-justify"> <b>Uma rede social com objetivo de engajar as pessoas à adoção de comportamentos que favoreçam a reconstrução e preservação do Meio Ambiente. Surgiu através da iniciativa de um grupo de desenvolvedores que constroem ferramentas para promover reflexões e mudanças em seus contextos cotidianos.</b></p>
        
      </div>
    </div>
  </div>
</div>

<!-- MISSÃO, VISÃO E VALORES -->
<div class="container d-flex justify-content-center">
  <div class="jumbotron jumbotron-config mt-5=4 ">
    <div class="row">
      <!--Missão-->
      <div class="col-md-6">
        <h1 class="display-4"><b>Missão</b></h1>
        <p class="lead text-justify">    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.</p>
      </div>
      <!--Imagem Missão-->
        <div class="col-md-6">
            <div class="container d-flex justify-content-end">
              <img class="responsive configimagens-missao-visao-valores border border-success p-4 img-fluid" src="https://i.imgur.com/hjD7ykv.png"  alt="Responsive image" >
            </div>
        </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="jumbotron jumbotron-config jumbotron-fluid mt-3">
    <div class="row">
      <!--Visão-->
      <div class="col-md-6">
        <h1 class="display-4 ml-4"><b>Visão</b></h1>
        <p class="lead text-justify ml-4">    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.</p>
      </div>
      <!--Imagem Visão-->
        <div class="col-md-6 ">
           <img src="https://i.imgur.com/tTHV8Zh.png" alt="Tree" class="responsive configimagens-missao-visao-valores border border-success p-4">
        </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="jumbotron jumbotron-config jumbotron-fluid mt-3 ">
      <div class="row">
      <!--Valores-->
        <div class="col-md-6">
            <h1 class="display-4 ml-4"><b>Valores</b></h1>
            <p class="lead text-justify ml-4">    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, autem recusandae officiis, ad expedita eius incidunt fugiat iure delectus blanditiis et obcaecati illum, impedit accusamus corrupti similique dolore! Dolorem, incidunt.</p>
        </div>
      <!--Imagem Valores-->
        <div class="col-md-6">
          <div class="container d-flex justify-content-end">
              <img class="resposive configimagens-missao-visao-valores border border-success p-4 img-fluid" src="https://i.imgur.com/7FzPJzG.png"  alt="Responsive image">
          </div>      
        </div>
      </div>              
  </div>
</div>


<!--Membros da Equipe-->
<div class="jumbotron jumbotron-fluid mb-0 back-membros">
<div class="container">
  <div class="row">
    <div class="col-md-12 mb-4  borda d-flex justify-content-center">
      <h3 class="fonte">Membros</h3>
    </div>
  </div>
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

<!--Controls-->
<div class="controls-top">
  <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
  <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
      class="fas fa-chevron-right"></i></a>
</div>
<!--/.Controls-->

<!--Indicators-->
<ol class="carousel-indicators">
  <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
  <li data-target="#multi-item-example" data-slide-to="1"></li>    
</ol>
<!--/.Indicators-->

<!--Slides-->
<div class="carousel-inner" role="listbox">

  <!--First slide-->    
  <div class="carousel-item active">  
    <div class="row">
      <div class="col-md-4 ">
        <div class="card mb-2 ">
          <img class="card-img-top conf-foto-matheus "
            src="https://i.imgur.com/Sgj5YQt.jpg" 
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Matheus Passos</h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center">Linkedin</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/RP4CoPY.png"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Geovanna Renata </h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-outline-primary d-flex justify-content-center">Linkedin</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-2">
          <img class="card-img-top"
            src="https://i.imgur.com/V7Axj7M.jpg"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center">Jessica Pinheiro</h4>
            <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
              card's content.</p>
              <a class="btn btn-outline-primary d-flex justify-content-center">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>    
    
  <!--/.First slide-->

  <!--Second slide-->
  <div class="carousel-item">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top"
          src="https://i.imgur.com/CltRql6.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Cezar Augusto</h4>
          <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center">Linkedin</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top"
          src="https://i.imgur.com/tqYFfrY.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title text-center">Samuel Firmino</h4>
          <p class="card-text text-justify">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
            <a class="btn btn-outline-primary d-flex justify-content-center">Linkedin</a>
        </div>
      </div>
    </div>
  </div>
</div>
    
  <!--/.Second slide-->
</div>
<!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

  