/* footer social icons */
.grad {
  background-image: linear-gradient(180deg, #aeffd8, #b0c6ce /*#ac8887*/);
}
ul.social-network {
    list-style: none;
    display: inline;

    padding: 0;
  }

  ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
  }

  .faFacebook, .faLinkedin, .faInstagram{
      color: black;
  }

  .faFacebook:hover{
    color: #3b5998;
  }

  .faLinkedin:hover{
  color: #0072b1;
  }

  .faInstagram:hover{
  color: #C13584;
  }
  .footer-cor{
    background-color: #aeffd8;
}