<footer class="page-footer font-small footer-cor pt-4">

  
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright py-3 grad">
    <div class="container">
      <div class="row texto text-monospace font-weight-bold">        
        <div class="col-md-4 mb-3 d-flex justify-content-center">      
          <a class="text-dark" routerLink="/sobre">Sobre nós</a>        
        </div>
        <div class="col-md-4 mb-3 d-flex justify-content-center">      
          <a class="text-dark" routerLink="/contato">Fale Conosco</a>        
        </div>
        <div class="col-md-4 mb-3 d-flex justify-content-center">
          <span class="text-dark"> Copyright: Plante Uma Árvore ©2020  </span>
          <!--<a class="text-light" href="https://brasil.generation.org">brasil.generation.org</a>-->       
        </div>        
      </div>
    </div>
    </div>
    
    
  <!-- Copyright -->

</footer>
<!-- Footer -->