<nav class="navbar navbar-expand-lg navbar-light nav-cor">
  
  <!-- Imagem Logo-->
  <a href="#">
    <img class="logo-navbar" src="https://i.imgur.com/4akMczb.png" >   
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-btn" >
    <div class="container d-flex justify-content-center texto ">
        
        <a class="btn mr-5 btn-sombra " routerLink='/home'> Home </a>
        <a class="btn mr-5 btn-sombra " routerLink='/sobre'> Sobre Nós </a>
        <a class="btn mr-5 btn-sombra " routerLink='/feed'> Feed </a>
        <a class="btn mr-5 btn-sombra " routerLink='/login'> Login </a>
        <a class="btn mr-5 btn-sombra " routerLink='/cadastro'> Cadastro </a>
        <a class="btn mr-5 btn-sombra " routerLink='/contato'> Contato </a>        
   
    </div>
  </div>
