<!-- Perfil Lateral--> 
<!--Img--> 
<div class="container d-flex justify-content-center sticky-top">
    <div class="card border-0" style="width: 13rem;">
        
    <!--/Img-->
    <!--Parte escrita-->
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h5 class="card-title" id="nome"></h5>
            </div>
            <div class="d-flex justify-content-center">
                <p class="card-text">Parceiros</p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="card-text">Parceiros</p>
            </div>
            <div class="d-flex justify-content-center">
                <p>Parceiros</p>
            </div>
            <div class="btn btn btn-primary">Saber Mais</div>
        </div>
      </div>
    <!--/Parte escrita-->
    <!--/Perfil Lateral--> 
</div>
