<div class="container login-container">
  <div class="row">
      <div class="col-md-8">
          <figure class="figure pt-4 mr-2 ml-2">
          <img src="https://i.imgur.com/g3r4X1Y.png" class="config-imagem figure-img img-fluid rounded" alt="Imagem de um quadrado genérico com bordas arredondadas, em uma figure.">
        </figure>
      
      </div>
      <div class="col-md-4 login-form-1">
          <h3 class="mb-4">Cadastrar</h3>
            <div class="form-group">          
              <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome aqui" [(ngModel)]='usuario.nome'>
            </div>
    
            <div class="form-group">      
              <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com" [(ngModel)]='usuario.email'>
            </div>
    
            <div class="form-group">          
              <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" (input)='conferirSenha($event)' value='{{senha}}'>
            </div>
    
            <div class="form-group">          
              <input type="password" class="form-control" id="senhaConf" placeholder="Confirmação de senha" [(ngModel)]='usuario.senha'>
            </div>
    
            <div class="form-group">          
              <input type="text" class="form-control" id="linkFoto" placeholder="Link imagem" [(ngModel)]='usuario.foto'>
            </div>
    
            <div class="d-flex justify-content-center mb-3 mt-4">
              <button class="btn w-30 login-Btn" (click)='cadastrar()'>Cadastrar</button>
            </div>
            
            <div class="d-flex justify-content-center mt-2 mb-4">
              <button type="submit" class="btn login-Btn" #loginRef> 
                Cadastrar com o Google<img class="social-btn-icon" alt="Logar com o Google" src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
              </button>
        </div>
            
          </div>

          <div class="container2 p-5">
            <div class="row">
                <div class="col-12">
            <figcaption class="figure-caption">Venha fazer parte da nossa luta! Vamos juntos lutar, avançar para  os próximos passos da luta em defesa do nosso futuro, plantar uma arvore é cuidar do amanha! </figcaption>
            <hr>
                </div>
                    
            </div>    
        </div>
        </div>
      </div>

    