<!--Linha 1-->
<div class="container-fluid">
  
  <div class="d-block w-100 tamSlide"></div>
       
       <div class="carousel-caption tamSlide ll1 d-none d-md-block">
        <div class="container-fluid ">  
          <app-navbar></app-navbar>
        </div>
      </div>
        <div class="carousel-caption d-none d-md-block">
            <div class="container-fluid ">              
              <div class="row">
                <div class="col-md-6 p-0">
                  <h3 class="display-4"><p>Você faz a diferença!</p></h3>  
                </div>              
              <div class="col-md-6">
                <button class="btn btn-outline-success " type="button" id="button-addon2" routerLink = "/cadastro">Crie sua conta</button>
              </div>
              </div>
          </div>
        </div> 
</div>
<!--Linha 1-->
<!--Linha 2-->
<div class="jumbotron jumbotron-fluid m-0 w-100 f1 ">
  <div class="row d-flex justify-content-center p-5 w-100">
      <div class="col-md-6" data-anime1="down">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QE5cTgN9Pck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="rounded w-100"></iframe>
      </div>
  
      <div class="col-md-6 mt-3 fonte text-uppercase font-weight-bold ">
        <p data-anime1="down">ipsum dolor, sit amet consectetur adipisicing elit. Ipsum libero quibusdam quas vitae. Debitis laudantium possimus est tempora! Delectus iusto deserunt, nulla deleniti accusamus vero corrupti maiores tempore quam dicta.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus officiis adipisci nobis molestias sed sequi, nihil dolore, a dolorum ad. Dolores fuga molestiae animi earum minima quaerat magnam ullam.</p>
      </div>   
  </div>
</div>      
<!--/Linha 2-->
<!--Linha 3-->
<div class="jumbotron jumbotron-fluid m-0 w-100 f2">
  <div class="container">
    <h3 class="display-5 " data-anime="left">Quem ama preserva.
      Preservar o meio ambiente,
      é preservar a VIDA.</h3>
    <p class="lead" data-anime="left">Andrea Taiyoo</p>
    <h3 class="display-5 text-right" data-anime="right"><p>
      homem desmata uma árvore, faz uma folha,
      e nela escreve: Sou contra o desmatamento.
    </p> 
    </h3>
    <p class="lead text-right" data-anime="left">Israel S. Andrade</p>
    <h3 class="display-5" data-anime="left">Quem ama preserva.
      Preservar o meio ambiente,
      é preservar a VIDA. </h3>
    <p class="lead" data-anime="left">Israel S. Andrade</p>          
  </div>
</div>   
<!--/Linha 3-->
<!--Linha 4-->
<div class="jumbotron jumbotron-fluid m-0 w-100 f2">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 d-flex justify-content-center">
        <div class="card zoom" style="width: 18rem;">
          <img class="card-img-top zoom-img" src="https://i.imgur.com/AaT754U.jpg" alt="Card image cap">
        </div>        
      </div>
      <div class="col-md-4 mb-3 d-flex justify-content-center">
        <div class="card zoom" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/TLnvskj.jpg[/img]" alt="Card image cap">
        </div>        
      </div>
      <div class="col-md-4 mb-3 d-flex justify-content-center">
        <div class="card zoom" style="width: 18rem;">
          <img class="card-img-top" src="https://i.imgur.com/poyXoGi.jpg" alt="Card image cap"> 
        </div>        
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 d-flex justify-content-center">
        <button type="button" class="btn btn-success" routerLink="/cadastro">Participar</button>
      </div>
    </div>
  </div>
</div>   
<!--/Linha 4-->