<!-- Perfil Lateral--> 
<!--Img--> 
<div class="card border-0" style="width: 18rem;">
    <div class="border-0">
        <img class="card-img-top" src="https://image.freepik.com/vetores-gratis/menina-escrevendo-em-um-caderno_59690-295.jpg" alt="Imagem de capa do card">
    </div>
<!--/Img-->
<!--Parte escrita-->
    <div class="card-body">
        <div class="d-flex justify-content-center">
            <h5 class="card-title" id="nome"></h5>
        </div>
        <div class="d-flex justify-content-center">
            <p class="card-text">info</p>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <p class="card-text">info</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>info</p>
        </div>
        <div class="container d-flex justify-content-center mt-3 mp-2 w-100">
            <a href="https://www3.livrariacultura.com.br/a-pequena-princesa-2112043104/p?utmi_cp=8787&adtype=pla&utmi_cp=8787&gclid=Cj0KCQjwtsv7BRCmARIsANu-CQfL3qrL6M6bDxMFMkCV_548C7ZhMSJ9GIKtTKdXGvcCucGT1gWryyoaArtBEALw_wcB"  class="btn btn btn-primary">facebook</a>
        </div>
    </div>
  </div>
<!--/Parte escrita-->
<!--/Perfil Lateral--> 