<!-- Perfil Lateral--> 
<!--Img--> 
<div class="container d-flex justify-content-center mt-5 texto text-monospace font-weight-bold">
    <div class="card border-0 " style="width: 15rem; background-color: transparent;">
        <div class="border-0 d-flex justify-content-center">
            <img class="card-img-top rounded-circle w-75 d-flex justify-content-center" src="{{fotoUser}}" alt="Imagem de capa do card">
        </div>
    <!--/Img-->
    <!--Parte escrita-->
        <div class="card-body" style="background-color: transparent;">
            <div class="d-flex justify-content-center">
                <h5 class="card-title" id="nome"></h5>
            </div>
            <div class="d-flex justify-content-center">
                <p class="card-text">{{nomeUser}}</p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <p class="card-text">{{email}}</p>
            </div>                    
        </div>
    </div>  
    <!--/Parte escrita-->
    <!--/Perfil Lateral--> 
</div>
