<!-- Perfil Lateral--> 
<!--Img--> 
<div class="container d-flex justify-content-center sticky-top ">
    <div class="card  border border-white mt-5 mp-5" style="width: 13rem;" >
        <div class="border-0">
            <img class="card-img-top   " src="https://media-exp1.licdn.com/dms/image/C5603AQGnprZFDgsiQg/profile-displayphoto-shrink_200_200/0?e=1608163200&v=beta&t=CQ4Bn6sd3nHulQY5uBlBHMGvyvZ3zYmPPixuHlvgSHM" alt="Imagem de capa do card" >
        </div>
    <!--/Img-->
    <!--Parte escrita-->
        <div class="card-body cor mt-2">

            <div class="d-flex justify-content-center">
                <p class="card-text">Nome</p>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-3">
                <p class="card-text">Email</p>
            </div>   
            <hr>     
            <div class="container d-flex justify-content-center mt-3 mp-2 w-100">
                <div class="btn btn-info">facebook</div>        
            </div>
        </div>
    </div>  
    <!--/Parte escrita-->
    <!--/Perfil Lateral--> 
</div>
