<!--Carrosel-->
<div class="container mt-5 mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="https://i.imgur.com/mPGqHdd.jpg?1" class="d-block w-100 tamSlide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/AaT754U.jpg" class="d-block w-100 tamSlide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/poyXoGi.jpg" class="d-block w-100 tamSlide" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--/Carrosel-->

<!--Jumbotron-->

<div class="jumbotron jumbotron-fluid  mb-5 grad w-100 m-0 f1">
  <h1 class="text-monospace text-center">
    Colabore para a reconstrução dos Ecossistemas</h1> 
  <div class="row d-flex justify-content-center p-5 w-100">
    <div class="col-md-6 mt-3 fonte text-uppercase font-weight-bold ">
      
      <h4 class="text-monospace "> Promova pequenas transformações </h4> 
      <div class="texto ">
        ipsum dolor, sit amet consectetur adipisicing elit. Ipsum libero quibusdam quas vitae. Debitis laudantium possimus est tempora! Delectus iusto deserunt, nulla deleniti accusamus vero corrupti maiores tempore quam dicta.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus officiis adipisci nobis molestias sed sequi, nihil dolore, a dolorum ad. Dolores fuga molestiae animi earum minima quaerat magnam ullam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus officiis adipisci nobis molestias sed sequi, nihil dolore, a dolorum ad. 
      </div> 
    </div> 
    <!-- Vpideo -->  
    <div class="col-md-6 mt-2 ">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QE5cTgN9Pck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="rounded w-100"></iframe>
    </div>
  </div>
</div>
<!--fim Jumbotron -->

<!--Container de Cards-->
<div class="container width=200 height=200 mb-5">
  <h2 class="text-center text-monospace">Objetivamos a recuperação dos Ecossistemas Terrestres </h2>
  <br> 
  <div class="card-deck">
    <!-- Card 1-->
    <div class="card border-success">
      <img class="card-img-top " width="500" height="240" src="https://i.imgur.com/OFoRrjB.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Gestão Sustentável dos Recursos </h5>
      </div>
  </div>

    <!-- Card 2-->
    <div class="card border-success">
      <img class="card-img-top " width="500" height="240" src="https://i.imgur.com/zt73aQI.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title text-center">Assegurar a Biodiversidade</h5>
      </div>
    </div>

    <!-- Card 3-->
    <div class="card border-success">
      <img class="card-img-top" width="500" height="240" src="https://i.imgur.com/YKJ0gjV.jpg" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title text-center">Expandir a Diversidade Vegetal </h5>
      </div>
    </div>
  </div>
</div>

<!--parallax -->
<div class="parallax"> </div>

<!--Frases-->
<div class="jumbotron jumbotron-fluid m-0 w-100  mt-2">
   
    <div class="container d-flex justify-content-start ">
      
      <div class="card-group">
        <div class="card grad w-75 mr-2" style="width: 18rem;">
          <div class="card-body">
            <h3 class="display-5 ">Quem ama preserva.<br>
              Preservar o meio ambiente,
              é preservar a VIDA.</h3>
            <p class="lead">Andrea Taiyoo</p>
            <img class="card-img-top configimgfrases" 
           src="https://i.imgur.com/0KmkZc4.png" alt="Imagem de capa do card">
          </div>
        </div>

        <div class="card grad w-75 mr-2" style="width: 18rem;">
          <div class="card-body">
            <h3 class="display-5 text-justify">O homem desmata uma árvore, faz uma folha,
              e nela escreve: Sou contra o desmatamento. </h3>
            <p class="lead text-right">Israel S. Andrade</p>
            <img class="card-img-top configimgfrases" 
           src="" alt="Imagem de capa do card">
          </div>
        </div>

        <div class="card grad w-75" style="width: 18rem;">
          <div class="card-body">
            <h3 class="display-5 text-justify">O homem desmata uma árvore, faz uma folha,
              e nela escreve: <p> Sou contra o desmatamento.
            </p> </h3>
            <p class="lead text-letf">Israel S. Andrade</p>
            <img class="card-img-top configimgfrases" 
           src="https://i.imgur.com/1t5Zy1g.png" alt="Imagem de capa do card">
          </div>
        </div>
      </div>
    </div>
      
      <!-- Primeira Linha -->
        
</div>

<!--Frases-->

      <!--Card Final -->
<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid grad mb-0">
    <h3 class="display-4 texto text-center  ">Venha reconstruir o mundo com a gente!</h3>
    <p class="lead texto text-monospace text-center">Participe de nossas ações e receba benefícios!</p>
    <hr class="my-4">

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">          
          <img src="https://i.imgur.com/4akMczb.png" width= 400 height=400 class="img-fluid" alt="Responsive image"> 
        </div>      
      </div>
    </div>
    
    <!-- Botão Cadastrar -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-2">
          <a class="btn btn-outline-info btn-lg btn-cad " routerLink="/cadastro" role="button">Cadastre-se</a>
        </div>
      </div>
    </div>
  </div>
</div>
