.cor-fundo{
    background-color: #f3f3f3;
}
.login-form-1{   
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.texto {
    text-align: justify;
    font-family: 'Trebuchet MS, sans-serif';
}

.icon{
    height: 22px;
}